@import url("http://fonts.googleapis.com/css?family=Leckerli+One");
@import "~bootstrap/less/bootstrap.less";

body {
    background: #eee;
}

.FrontPage {
  max-width: 900px;
  margin-top: 20px;

  .footer {
    position: fixed;
    bottom: 5px;
    right: 5px;
    text-align: center;
    font-size: 10px;
    color: #aaa;
  }
  .navbar-brand {
    font-size: 30px;
    font-family: 'Leckerli One', cursive;
  }
  .post {
    background: white;
    padding: 20px 5px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 1px solid #ddd;
    img {
      max-height: 500px;
    }
    .description {
      padding-left: 0px;
    }
    .quoteBlock {
      border: 5px solid #eee;
      border-radius: 5px;
      padding: 10px;
      .caption {
        margin-bottom: 20px;
      }
      .metadata {
        .glyphicon {
          width: 20px;
        }
      }
    }

    &.link {
      .quoteBlock .linkAttachment {
        margin-left: 50px;
      }
    }
  }
}